IO_LOC  "output_register[7]" 36;

IO_LOC  "output_register[6]" 39;

IO_LOC  "output_register[5]" 25;

IO_LOC  "output_register[4]" 26;

IO_LOC  "output_register[3]" 27;

IO_LOC  "output_register[2]" 29;

IO_LOC  "output_register[1]" 30;

IO_LOC  "output_register[0]" 33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
